body {
  margin: 0;
  padding: 0;
  background: url("../images/fondo2.jpg") no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}
div>h1:first-child
{
    text-align: center;
}
.parrafo
{
    font-size: 16px;
}
.fuerte
{
    font-weight: bold;
     font-size: 16px;
     color: black;
}
.card-login h1
{
    text-align: center;
}
.card-login label
{
    font-size: 18px;
    color: black;
}
.card
{
    display: inline-block;
    margin-left: 15px;
}
.parrafo
{
    font-family: Arial;
}

.card .imagen
{
    width: 252px;
    height: 157px;
}
#loguear
{
    position: relative;
    display: block;
    background-color: #1a2537;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    font-size: 15px;
}
#boton-preguntas
{
    position: relative;
    display: block;
    width: 100%;
    background-color:  #1a2537;
    color: white;
    text-align: center;
    border-radius: 10px;
}

/*url(https://www.mendozapost.com/files/image/125/125357/592e0f57b7d5f.jpg)*/
.login-box {
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-box2 {
    width: auto;
    height: 760px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #1a2537;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}
